.checkout-container{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}
.checkout-heading{
    color: blueviolet;
    text-align: center;
}
.checkout-content{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.success-p {
    text-align: center;
    color: green;
}